absl-py==2.1.0
archspec==0.2.4
attrs==23.2.0
blinker==1.8.2
boltons==24.0.0
Brotli==1.1.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
conda-package-handling==2.3.0
conda_package_streaming==0.10.0
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
distro==1.9.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.0
frozendict==2.4.4
gunicorn==22.0.0
idna==3.7
itsdangerous==2.2.0
jax==0.4.29
jaxlib==0.4.29
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpointer==2.1
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
mediapipe==0.10.14
ml-dtypes==0.4.0
numpy==1.26.4
opencv-contrib-python==4.10.0.82
opencv-python-headless==4.10.0.82
opt-einsum==3.3.0
packaging==24.1
pandas==2.2.2
pickle-mixin==1.0.2
pillow==10.3.0
platformdirs==4.2.2
pluggy==1.5.0
protobuf==4.25.3
pycosat==0.6.6
pycparser==2.22
pyOpenSSL==24.1.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.5.0
scipy==1.13.1
setuptools==70.0.0
six==1.16.0
sounddevice==0.4.7
threadpoolctl==3.5.0
tqdm==4.66.4
truststore==0.9.1
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.3
wheel==0.43.0
zstandard==0.22.0
